@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #060A06;
    --font_nav: #FFFFFF;
    --lets_but: #352DEB;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
    align-items: center;
    justify-content:center;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin: 27px 0px;
    justify-content: center;
}


.nav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 13px;
    font-family: poppins;
    font-weight: 400;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 8px;
    white-space: nowrap;
    position: relative;
}

.nav1 {
    margin-left: 900px;
}

.login-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 90%;
    box-sizing: border-box;
}

.nav-button:hover {
    background-color: #555;
    color: white;
}

.login-button:hover {
    border-radius: 90%;
}

.main {
    color: #FFFFFF;
    font-family: poppins;
    font-size: 110px;
    font-weight: 500;
    margin: 70px 0px 0px;
    margin-right: 820px;
    display: flex;
    justify-content: center;
}

.main img {
    margin: 35px 10px;
    width: 100px;
    height: 100px;
}

.Lorem {
    color: #FFFFFF;
    font-family: montserrat;
    font-size: 50px;
    font-weight: 300;
    margin: 0px 74px;
    margin-right: 890px;
    display: flex;
    justify-content: center;
}

.Innovation {
    margin-right: 1350px;
}

.lets {
    display: flex;
    justify-content: center;
    margin-right: 1310px;
    margin-top: 80px;
}

.lets1 {
    background: linear-gradient(to bottom, #FFFFFF33 20%, #352DEB1A 100%);
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 30px;
    font-family: poppins;
    font-weight: 400;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    border: 1.5px solid white;
}

.image3 {
    position: absolute;
    display: flex;
    top: 300px;
    justify-content: center;
    margin-left: 544px;
}

.header{
    color: #FFFFFF;
   
}

.header h1{
    font-family: Poppins;
    font-size: 64px;
    margin-top: 500px;
    margin-bottom: 100px;
    line-height: 96px;
    font-weight: 400;
}

.prize{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    color: #FFFFFF; 
    display: flex;
    justify-content: center;
     
} 

.card1{
    width: 300px;
    height: 500px;
    font-weight: 400;
    border-style: solid;
    display: inline-block;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 80px;
    margin-right: 30px;
    background: linear-gradient(to bottom, var(--primary)25%, rgb(43, 42, 0) 25%)padding-box, linear-gradient(180deg, #EB7938,#0EB0DE, #5BEBE9) border-box;
    border-color: transparent;
    border-radius: 10px;
} 

.card1 h2{
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.card2{
    width: 300px;
    height: 580px;
    font-weight: 400;
    border-style: solid;
    display: inline-block;
    padding: 40px;
    box-sizing: border-box;
    margin-right:30px;
    margin-left: 30px;
    background: linear-gradient(to bottom, var(--primary)20%, rgb(43, 42, 0)20%)padding-box, linear-gradient(180deg, #EB7938,#0EB0DE, #5BEBE9) border-box;
    border-color: transparent;
    border-radius: 10px;
}

.card2 h2{
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.card3{
    width: 300px;
    height: 420px;
    font-weight: 400;
    border-style: solid;
    display: inline-block;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 160px;
    margin-left: 30px;
    background: linear-gradient(to bottom, var(--primary)30%, rgb(43, 42, 0) 30%)padding-box, linear-gradient(180deg, #EB7938,#0EB0DE, #5BEBE9) border-box;
    border-color: transparent;
    border-radius: 10px;
}

.card3 h2{
    font-weight: 400;
    display: flex;
    justify-content: center;
}